body {
    background-color: #1F1F1F;
}

/* 
 .h1,.h6,.h4,.h5,.h7,.h8,.h9 img{ 
    transform: translateY(100px); 
    transition: 2s;
    transition-delay: 5s;
}  */
.container{
    height: 1000px;
    padding-top: 20px;
    padding-left: 10px;
    scale: 0.5;
}
 

.tm-20-y{
    transform: translateY(-20px);
    transition: 2s;
}
.tm-40-y{
    transform: translateY(-40px);
    transition: 2s;
}
.tm-50-y{
    transform: translateY(-50px);
    transition: 2s;
}
.tm-100-y{
    transform: translateY(-100px);
    transition: 2s;
}
.tm-110-y{
    transform: translateY(-160px);
    transition: 2s;
}
.tm-120-y{
    transform: translateY(-170px);
    transition: 2s;
}
.tm-130-y{
    transform: translateY(-160px);
    transition: 2s;
}
.tm-140-y{
    transform: translateY(-170px);
    transition: 2s;
}
.tm-150-y{
    transform: translateY(-150px);
    transition: 2s;
}
.tm-160-y{
    transform: translateY(-160px);
    transition: 2s;
}
.tm-170-y{
    transform: translateY(-170px);
    transition: 2s;
}

.t-20-y{
    transform: translateY(20px);
    transition: 2s;
}
.t-40-y{
    transform: translateY(40px);
    transition: 2s;
}
.t-50-y{
    transform: translateY(50px);
    transition: 2s;
}
.t-60-y{
    transform: translateY(60px);
    transition: 2s;
}
.t-70-y{
    transform: translateY(70px);
    transition: 2s;
}
.t-75-y{
    transform: translateY(75px);
    transition: 2s;
}
.t-80-y{
    transform: translateY(80px);
    transition: 2s;
}
.t-85-y{
    transform: translateY(80px);
    transition: 2s;
}
.t-100-y{
    transform: translateY(100px);
    transition: 2s;
}.t-135-y{
    transform: translateY(135px);
    transition: 2s;
}
.t-150-y{
    transform: translateY(150px);
    transition: 2s;
}
.t-170-y{
    transform: translateY(170px);
    transition: 2s;
}   
.t-175-y{
    transform: translateY(170px);
    transition: 2s;
}   
.t-180-y{
    transform: translateY(180px);
    transition: 2s; 
}
.t-185-y{
    transform: translateY(185px);
    transition: 2s; 
}
.t-200-y{
    transform: translateY(200px);
    transition: 2s;
}
.t-240-y{
    transform: translateY(240px);
    transition: 2s;
}

.t-250-y{
    transform: translateY(250px);
    transition: 2s;
}
.t-260-y{
    transform: translateY(260px);
    transition: 2s;
}

.t1-100-y{
    transform: translateY(-100px);
    transition: 1s;
}
.w-400{
    width: 400px;
}
.w-500{
    width: 500px;
}
.w-600{
    width: 600px;
}




.tr-op-1{
    opacity: 0;
   /* transition: opacity 2s ease-in-out; */
}
.h5.tr-op-1.show{
    animation: translateOpacity 2s ease-in-out forwards;      
}
.h15.tr-op-1.show{
    animation: translateOpacityh15 2s ease-in-out forwards;   
}
.h6.tr-op-1.show{
    animation: translateOpacityh6 2s ease-in-out forwards;   
   
}
.h4-bc-2{
    animation: h4-background-change 2s ease-in-out forwards;   
}
.h2-bc-2{
    animation: h2-background-change 2s ease-in-out forwards;   
}
.h1-bc-2{
    animation: h1-background-change 2s ease-in-out forwards;   
}


.h11,.h12,.h13{  
    background-repeat: no-repeat;
    width: 0px;
    height: 40px;
}
.h11{
    background-image: url(h11.png);  
}
.h12{
    background-image: url(h12.png);   
}
.h13{
    background-image: url(h13.png);    
}
.h1{
    margin-left: 4px;
    background-image: url(h1.png);
    background-repeat: no-repeat;
    width: 0px;
    height: 50px;   
    color: transparent;
}
.ty-12{
    animation: ty 1.2s steps(55, end) forwards;
}
.ty-08{
    animation: ty 0.8s steps(55, end) forwards;
}

.h2{
    background-image: url(h2.png);
    background-repeat: no-repeat;
    width: 0px;
    height: 40px;
    margin-left: 4px; 
}
.h3{
    background-image: url(h3.png);
    background-repeat: no-repeat;  
    width: 0px;
    height: 108px;    
}
.h4{
    background-image: url(h4.png);
    background-repeat: no-repeat;
    width: 0px;
    height: 120px;  
}
.h5{
    opacity: 0;
    background-image: url(h5.png);
    background-repeat: no-repeat;
    width: 220px;
    height: 38px;
    position: absolute;
    top:200px;   
    border: 4px solid transparent ;
}

.h15{
    opacity: 0;
    background-image: url(h15.png);
    background-repeat: no-repeat;
    width: 170px;
    height: 38px;
    position: absolute;
    top:200px;   
    border: 4px solid transparent ;
}

.h6{
    margin-left: 4px;
    opacity: 0;
    background-image: url(h6.png);
    background-repeat: no-repeat;
    width: 350px;
    height: 50px;
    position: absolute;
    top:290px;    
   left: 2px;
   border: 4px solid transparent ;

}
.h7{
    opacity: 0;
    background-image: url(h7.png);
    background-repeat: no-repeat;
    width: 100px;
    height: 120px;
    position: absolute;
    top:165px;    
}
.h8{
    opacity: 0;
    background-image: url(h8.png);
    background-repeat: no-repeat;
    width: 0px;
    height: 120px;
    animation: ty 0.6s steps(55, end) 2.4s forwards;
}
.h9{
    opacity: 0;
    background-image: url(h9.png);
    background-repeat: no-repeat;
    width: 0px;
    height: 120px;
    animation: ty 0.6s steps(55, end) 2.4s forwards;
}


.total-border {
    opacity: 0;
    position: fixed;
    top: 80px;
    width: 125px;
    height: 35px;
    left: 730px;
    
}
.total-border.show{
    animation: op 0.5s ease-in-out forwards;   
}
.discount-border {
    opacity: 0;
    position: fixed;
    top: 80px;
    width: 125px;
    height: 35px;
    left: 865px;
    animation-delay: 1s;
}
.discount-border.show{
    animation: op 0.5s ease-in-out forwards;   
}
.gettotal-green {
    position: fixed;
    top: 10px;
    width: 125px;
    height: 35px;
    left: 160px;
}



.br-tr-4{
    border: 0 transparent solid ;
 }
.br-green-4{   
    animation: border-4 5s ease forwards ;    
 }
 .comments{
    color: transparent;
 }
.comments::after{
   content: "// price='NaN'. Unexpected value";
   color: red;
   font-size: large;
   font-family: "Lucida Console", Monaco, monospace;
   line-height: 2.5;   
}
.container:hover{
   
}
@keyframes ty{
    0%{
        width: 0;
    }
    100%{
        width: 800px;
    }
}
@keyframes op {
    100%{
        opacity: 1;
    }
}

@keyframes translateOpacityh6 {
    0% {
      opacity: 0; /* Start with opacity at 0 (invisible) */
      transform: translateY(10px); /* Start at the initial position */
    }

    100% {
      opacity: 1; /* End with opacity at 100% (fully visible) */
      transform: translateY(-130px); /* Translate the element further */
      width:350px;
    }
  }

  @keyframes translateOpacityh15 {
    0% {
      opacity: 0; /* Start with opacity at 0 (invisible) */
      transform: translateY(0px); /* Start at the initial position */
    }

    100% {
      opacity: 1; /* End with opacity at 100% (fully visible) */
      transform: translateY(22px); /* Translate the element further */
      width:170px;
    }
  }

@keyframes translateOpacity {
    0% {
      opacity: 0; /* Start with opacity at 0 (invisible) */
      transform: translateY(10px); /* Start at the initial position */
    }

    100% {
      opacity: 1; /* End with opacity at 100% (fully visible) */
      transform: translateY(-90px); /* Translate the element further */
      width:220px;
    }
  }
  @keyframes h4-background-change {
     0%{
   
        background-image: url(h4.png);
     }

    100% {
        
      background-image: url(h8.png);
      
      
    }
  }
  @keyframes h1-background-change {
    0%{
       margin-left:0px;
       background-image: url(h1.png);
    }

   100% {
    margin-left:4px;
     background-image: url(h16.png);
     
     
   }
 }
  @keyframes h2-background-change {
    0%{
   
        background-image: url(h2.png);
        
     }
    100% {
      
      background-image: url(h7.png);
     
      
    }
  }
  @keyframes border-4 {
    0%{
        border-color: transparent ;
    }
    100%{
        border-color: green ;
    }    
  }
 






/* ----------------------------------------------
 * Generated by Animista on 2024-1-19 22:34:7
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation scale-up-tl
 * ----------------------------------------
 */
 @-webkit-keyframes scale-up-tl {
    0% {
      -webkit-transform: scale(0.5);
              transform: scale(0.5);
      -webkit-transform-origin: 0% 0%;
              transform-origin: 0% 0%;
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
      -webkit-transform-origin: 0% 0%;
              transform-origin: 0% 0%;
    }
  }
  @keyframes scale-up-tl {
    0% {
      -webkit-transform: scale(0.5);
              transform: scale(0.5);
      -webkit-transform-origin: 0% 0%;
              transform-origin: 0% 0%;
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
      -webkit-transform-origin: 0% 0%;
              transform-origin: 0% 0%;
    }
  }
  .scale-up-tl {
	-webkit-animation: scale-up-tl 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: scale-up-tl 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}



