body {
    background-color: #1F1F1F;
}

/* 
 .h1,.h6,.h4,.h5,.h7,.h8,.h9 img{ 
    transform: translateY(100px); 
    transition: 2s;
    transition-delay: 5s;
}  */
.container{
    height: 1000px;
    padding-top: 20px;
    padding-left: 10px;
   
}
 

.tm-20-y{
    transform: translateY(-20px);
    transition: 2s;
}
.tm-40-y{
    transform: translateY(-40px);
    transition: 2s;
}
.tm-50-y{
    transform: translateY(-50px);
    transition: 2s;
}
.tm-100-y{
    transform: translateY(-100px);
    transition: 2s;
}
.tm-110-y{
    transform: translateY(-160px);
    transition: 2s;
}
.tm-120-y{
    transform: translateY(-170px);
    transition: 2s;
}
.tm-130-y{
    transform: translateY(-160px);
    transition: 2s;
}
.tm-140-y{
    transform: translateY(-170px);
    transition: 2s;
}
.tm-150-y{
    transform: translateY(-150px);
    transition: 2s;
}
.tm-160-y{
    transform: translateY(-160px);
    transition: 2s;
}
.tm-170-y{
    transform: translateY(-170px);
    transition: 2s;
}
.t-10-y{
    transform: translateY(10px);
    transition: 2s;
}
.t-20-y{
    transform: translateY(20px);
    transition: 2s;
}
.t-40-y{
    transform: translateY(40px);
    transition: 2s;
}
.t-50-y{
    transform: translateY(50px);
    transition: 2s;
}
.t-60-y{
    transform: translateY(60px);
    transition: 2s;
}
.t-70-y{
    transform: translateY(70px);
    transition: 2s;
}
.t-75-y{
    transform: translateY(75px);
    transition: 2s;
}
.t-80-y{
    transform: translateY(80px);
    transition: 2s;
}
.t-85-y{
    transform: translateY(80px);
    transition: 2s;
}
.t-100-y{
    transform: translateY(100px);
    transition: 2s;
}.t-135-y{
    transform: translateY(135px);
    transition: 2s;
}
.t-150-y{
    transform: translateY(150px);
    transition: 2s;
}
.t-170-y{
    transform: translateY(170px);
    transition: 2s;
}   
.t-175-y{
    transform: translateY(170px);
    transition: 2s;
}   
.t-180-y{
    transform: translateY(180px);
    transition: 2s; 
}
.t-185-y{
    transform: translateY(185px);
    transition: 2s; 
}
.t-200-y{
    transform: translateY(200px);
    transition: 2s;
}
.t-240-y{
    transform: translateY(240px);
    transition: 2s;
}

.t-250-y{
    transform: translateY(250px);
    transition: 2s;
}
.t-260-y{
    transform: translateY(260px);
    transition: 2s;
}
.t-390-y{
    transform: translateY(390px);
    transition: 2s;
}

.t1-100-y{
    transform: translateY(-100px);
    transition: 1s;
}
.w-400{
    width: 400px;
}
.w-500{
    width: 500px;
}
.w-600{
    width: 600px;
}




.tr-op-1{
    opacity: 0;
   /* transition: opacity 2s ease-in-out; */
}
.h5.tr-op-1.show{
    animation: translateOpacity 2s ease-in-out forwards;      
}
.h15.tr-op-1.show{
    animation: translateOpacityh15 2s ease-in-out forwards;   
}
.h6.tr-op-1.show{
    animation: translateOpacityh6 2s ease-in-out forwards;   
   
}
.h4-bc-2{
    animation: h4-background-change 2s ease-in-out forwards;   
}
.h2-bc-2{
    animation: h2-background-change 2s ease-in-out forwards;   
}
.h1-bc-2{
    animation: h1-background-change 2s ease-in-out forwards;   
}


.h11,.h12,.h13{  
    background-repeat: no-repeat;
    width: 0px;
    height: 40px;
    border: 4px solid transparent ; 
}
.h11{
    background-image: url(h11.png);  
}
.h12{
    background-image: url(h12.png);   
}
.h13{
    background-image: url(h13.png);    
}
.h1{
    margin-left: 4px;
    background-image: url(h1.png);
    background-repeat: no-repeat;
    width: 0px;
    height: 50px;   
    color: transparent;
    border: 4px solid transparent ;
}
.ty-12{
    animation: ty 1.2s steps(55, end) forwards;
}
.ty-08{
    animation: ty 0.8s steps(55, end) forwards;
}
.ty-2{
    animation: ty 2s steps(55, end) forwards;
}
.ty-1{
    animation: ty 1s steps(55, end) forwards;
}
.h2{
    background-image: url(h2.png);
    background-repeat: no-repeat;
    width: 0px;
    height: 40px;
 
    border: 4px solid transparent ; 
}
.h3{
    background-image: url(h3.png);
    background-repeat: no-repeat;  
    width: 0px;
    height: 105px;   
    border: 4px solid transparent ; 
}
.h4{
    background-image: url(h4.png);
    background-repeat: no-repeat;
    width: 0px;
    height: 120px;  
    border: 4px solid transparent ; 
}
.h5{
    opacity: 0;
    background-image: url(h5.png);
    background-repeat: no-repeat;
    width: 220px;
    height: 38px;
    position: absolute;
    top:200px;   
    border: 4px solid transparent ;
}

.h15{
    opacity: 0;
    background-image: url(h15.png);
    background-repeat: no-repeat;
    width: 170px;
    height: 38px;
    position: absolute;
    top:200px;   
    border: 4px solid transparent ;
}

.h6{
    margin-left: 8px;
    opacity: 0;
    background-image: url(h6.png);
    background-repeat: no-repeat;
    width: 350px;
    height: 50px;
    position: absolute;
    top:290px;    
   left: 2px;
   border: 4px solid transparent ;
   background-position: center;

}
.h7{
    opacity: 0;
    background-image: url(h7.png);
    background-repeat: no-repeat;
    width: 100px;
    height: 120px;
    position: absolute;
    top:165px;    
}
.h8{
    opacity: 0;
    background-image: url(h8.png);
    background-repeat: no-repeat;
    width: 0px;
    height: 120px;
    animation: ty 0.6s steps(55, end)  forwards;
}
.h9{
    opacity: 0;
    background-image: url(h9.png);
    background-repeat: no-repeat;
    width: 0px;
    height: 120px;
    animation: ty 0.6s steps(55, end)  forwards;
}




.br-tr-4{
    border: 0 transparent solid ;
 }
.br-green-4{   
    animation: border-4-green .6s ease forwards ;    
 }
 .rbr-green-4{ 
    border: 4px solid green;  
    animation: border-4-green .6s ease reverse forwards ;    
 }
 .br-red-4{   
    animation: border-4-red .6s ease forwards ;    
 }
 .rbr-red-4{ 
    border: 4px solid red;  
    animation: border-4-red .6s ease reverse forwards ;    
 }
 .comments{
    color: transparent;
 }
.comments::after{
   content: "// price='NaN'. Unexpected value";
   color: red;
   font-size: large;
   font-family: "Lucida Console", Monaco, monospace;
   line-height: 2.5;   
   position: absolute;
   left: 350px;
   opacity: 0;
   animation: comments-op 1s ease  forwards;

}
@keyframes comments-op {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
@keyframes ty{
    0%{
        width: 0;
    }
    100%{
        width: 800px;
    }
}
@keyframes op {
    100%{
        opacity: 1;
    }
}

@keyframes translateOpacityh6 {
    0% {
      opacity: 0; /* Start with opacity at 0 (invisible) */
      transform: translateY(10px); /* Start at the initial position */
    }

    100% {
      opacity: 1; /* End with opacity at 100% (fully visible) */
      transform: translateY(-130px); /* Translate the element further */
      width:350px;
    }
  }

  @keyframes translateOpacityh15 {
    0% {
      opacity: 0; /* Start with opacity at 0 (invisible) */
      transform: translateY(0px); /* Start at the initial position */
    }

    100% {
      opacity: 1; /* End with opacity at 100% (fully visible) */
      transform: translateY(22px); /* Translate the element further */
      width:170px;
    }
  }

@keyframes translateOpacity {
    0% {
      opacity: 0; /* Start with opacity at 0 (invisible) */
      transform: translateY(10px); /* Start at the initial position */
    }

    100% {
      opacity: 1; /* End with opacity at 100% (fully visible) */
      transform: translateY(-90px); /* Translate the element further */
      width:220px;
    }
  }
  @keyframes h4-background-change {
     0%{
   
        background-image: url(h4.png);
     }

    100% {
        margin-left:-10px;
      background-image: url(h8.png);
      
      
    }
  }
  @keyframes h1-background-change {
    0%{
       margin-left:0px;
       background-image: url(h1.png);
    }

   100% {
    margin-left:-10px;
     background-image: url(h16.png);
     
     
   }
 }
  @keyframes h2-background-change {
    0%{
   
        background-image: url(h2.png);
        
     }
    100% {
      
      background-image: url(h7.png);
     
      
    }
  }
  @keyframes border-4-green {
    0%{
        border-color: transparent ;
    }
    100%{
        border-color: green ;
    }    
  }
  @keyframes border-4-red {
    0%{
        border-color: transparent ;
    }
    100%{
        border-color: red ;
    }    
  }

.border-3{
    color: transparent;
    border: 3px solid transparent;
}
.green-border-3{
    color: transparent;
    border: 3px solid transparent;
}
.red-border-3{
    color: transparent;
    border: 3px solid red;
    opacity: 0;
}
.red-border-rev-3{
    color: transparent;
    border: 3px solid red;
    opacity: 1;
}

.green-border-3{
    color: transparent;
    border: 3px solid green;
    opacity: 0;
}
.green-border-rev-3{
    color: transparent;
    border: 3px solid green;
    opacity: 1;
}
.total-border{
    opacity: 1;
    position: fixed;
    top: 83px;
    width: 125px;
    height: 35px;
    left: 220px;
    /* background-color: red; */  
}

.discount-border{
    opacity: 1;
    position: fixed;
    top: 83px;
    width: 125px;
    height: 35px;
    left: 365px;
    /* background-color: red; */  
}

.red-border-3.show{
    animation: border-change 0.3s ease-in  forwards;
}

.red-border-rev-3.show{
    animation: border-change 0.3s ease-in reverse forwards;
}


.green-border-3.show{
    animation: border-change 0.3s ease-in  forwards;
}

.green-border-rev-3.show{
    animation: border-change 0.3s ease-in reverse forwards;
}



@keyframes border-change {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }    
}



